<div class="Meme">
  <div class="titlle"><h1>Memes</h1></div>
  <div class="headerimg">
    <img src="cotorrisa-removebg-preview.png" alt="Logo" />
  </div>  
</div>


<div class="memes-grid">
  <img src="meme0.jpg" alt="Meme 0">
  <img src="meme1.jpg" alt="Meme 1">
  <img src="meme2.jpg" alt="Meme 2">
  <img src="meme3.jpg" alt="Meme 3">
  <img src="meme4.jpg" alt="Meme 4">
  <img src="meme5.jpg" alt="Meme 5">
  <img src="meme6.jpg" alt="Meme 6">
  <img src="meme7.jpg" alt="Meme 7">
  <img src="meme8.png" alt="Meme 8">
  <img src="meme9.png" alt="Meme 9">
  <img src="meme10.png" alt="Meme 10">
  <img src="meme11.png" alt="Meme 11">
  

</div>
<footer>
  <div class="social-icons">
    <a href="https://www.instagram.com/lacotorrisa/" target="_blank">La Cotorrisa</a>
    <img src="instagram.svg" />
  <a href="https://www.instagram.com/slobotzky" target="_blank">Slobotzky</a>
  <img src="instagram.svg" />
  <a href="https://www.youtube.com/@Slobotzky" target="_blank">La Cotorrisa miercoles</a>
  <img src="youtube.svg" />
  <a href="https://www.instagram.com/ricardomedijo/" target="_blank">Ricardo perez</a>
  <img src="instagram.svg" />
  <a href="https://www.youtube.com/@RicardoPerezOficial" target="_blank">la Cotorrisa domingos</a>
  <img src="youtube.svg" />
  <a href="https://open.spotify.com/show/3a36uQneX1imRuopaknUqw" target="_blank">la Cotorrisa </a>
  <img src="spotify.svg" />
  </div>
</footer>

