<div class="container"></div>
  <div class="header">
    <h1>La Cotorrisa</h1>
    <div class="header-icons">
      <img src="cotorrisa-removebg-preview.png" alt="Logo" />
    </div>
    <nav class="nav-bar">
      <a href="/meme">Videos</a>
      <a href="/meme">Memes</a>
      <a href="#">Otros proyectos</a>
    </nav>
  </div>
  <div class="comediantes">
    <h1>Comediantes</h1>
    <div class="comediante-profile">
      <img src="Ricardo.png" alt="Ricardo Pérez" class="comediante-img" />
      <div class="comediante-info">
        <h2>Ricardo Pérez</h2>
        <p>es un comediante stand-up que se ha destacado en la escena de la comedia
          en México. Además de ser coanfitrión de "La Cotorrisa", ha trabajado en
          diferentes proyectos de comedia 
         en televisión y plataformas digitales.Se le reconoce por su estilo humorístico 
         rápido y su capacidad para conectar con el 
         público a través de anécdotas personales.</p>
      </div>
    </div>
    
  
    <div class="comediante-profile">
      <img src="slobo2.png" alt="Slobotzky" class="comediante-img-right" />
      <div class="comediante-info">
        <h2>Slobotzky</h2>
        <p> cuyo nombre completo es José Luis Slobotzky, también es comediante
          de stand-up y tiene una personalidad carismática 
         y un estilo de humor irreverente. A lo largo de los años, ha consolidado una base de seguidores que disfrutan de su sentido del humor crudo y directo.</p>
      </div>
    </div>
  </div>

  <div class="historia-section">
    <img src="slobo y ricardo.jpg" alt="Historia Image" class="historia-img">
    <div class="historia-text">
    <h1>Historia</h1>
    <p>Ricardo Pérez y Slobotzky se ponen a cotorrear como siempre, pero ahora lo están grabando. Escúchalos todos los miércoles hablando de noticias extrañas, datos curiosos, anécdotas hilarantes y aliviana el ombligo de la semana. Nuevo episodio todos los miércoles y domingo</p>
  </div>

  <div class="invitados">
    <h1>Invitados</h1>
    <div class="invitados-grid">
      <div class="invitado">
        <img src="franco.jpg" alt="Franco Escamilla" />
        <p>Franco Escamilla</p>
      </div>
      <div class="invitado">
        <img src="la mole.jpg" alt="La Mole" />
        <p>La Mole</p>
      </div>
      <div class="invitado">
        <img src="Alex.jpg" alt="Alex Montiel" />
        <p>Alex Montiel</p>
      </div>
      <div class="invitado">
        <img src="el capi.jpg" alt="El Capi Pérez" />
        <p>El Capi Pérez</p>
      </div>
      <div class="invitado">
        <img src="mau.jpg" alt="Mau Nieto" />
        <p>Mau Nieto</p>
      </div>
      <div class="invitado">
        <img src="Daniel sosa.jpg" alt="Daniel Sosa" />
        <p>Daniel Sosa</p>
      </div>
      <div class="invitado">
        <img src="solin.jpg" alt="Solín, Quiroz e Iván" />
        <p>Solín, Quiroz e Iván</p>
      </div>
      <div class="invitado">
        <img src="karla .png" alt="Karla y Isabel" />
        <p>Karla y Isabel</p>
      </div>
      <div class="invitado">
        <img src="triodetres.jpg" alt="Ricardo, Jair, Daniel" />
        <p>Ricardo, Jair, Daniel</p>
      </div>
    </div>
  </div>
  

 
  <footer>
    <div class="social-icons">
      <a href="https://www.instagram.com/lacotorrisa/" target="_blank">La Cotorrisa</a>
      <img src="instagram.svg" />
    <a href="https://www.instagram.com/slobotzky" target="_blank">Slobotzky</a>
    <img src="instagram.svg" />
    <a href="https://www.youtube.com/@Slobotzky" target="_blank">La Cotorrisa miercoles</a>
    <img src="youtube.svg" />
    <a href="https://www.instagram.com/ricardomedijo/" target="_blank">Ricardo perez</a>
    <img src="instagram.svg" />
    <a href="https://www.youtube.com/@RicardoPerezOficial" target="_blank">la Cotorrisa domingos</a>
    <img src="youtube.svg" />
    <a href="https://open.spotify.com/show/3a36uQneX1imRuopaknUqw" target="_blank">la Cotorrisa </a>
    <img src="spotify.svg" />
    </div>
  </footer>


