
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
   
  }


  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f87cd;
    padding: 10px;
    color: rgb(255, 255, 6);
    text-align: center;
    font-size: 16px;
  }
  
  .nav-bar a {
    color: yellow;
    margin: 0 15px;
    text-decoration: none;
    
  }

  
  .header-icons img {
    width: 100px;
    height: 100px;
   ;
  }
  
  
  .comediantes {
    background-color: #f0f8ff ;
    padding: 20px;
    color:white
  }
  
  .comediantes h1 {
    text-align: center;
    font-size: 36px;
    background-color:  #3eb4ed;
  }
  
  .comediante-profile {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-color: #f0f8ff;
    padding: 20px;
  border-radius: 10px;
  

  }
  .comediante-img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .comediante-img-right {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px; /* Space between the text and the image */
  }
  
  .comediante-info {
   flex:1;
   padding: 10px;;
   background-color: #0f87cd;
   text-align: left;
   margin-left: 5px;
  }
  
  .comediante-info h2 {
    font-size: 24px;
    color: #ffffff;
  }

  .comediante-info p {
    font-size: 16px;
    color: #fff5f5;
    margin-top: 10px;
  }

  .historia-section{
  align-items: center;
  justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .historia-img {
    width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  }

  .historia-text{
    max-width: 600px;
    text-align: center; /* Asegurar que el texto también esté centrado */
    margin: 0 auto;
  }
  
  .historia-text h1 {
    font-size: 36px;
    color: #3eb4ed;
  }

  .historia-text p {
    font-size: 18px;
    color: #000000;
    text-align: center;
  }


  .invitados {
    text-align: center;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
  }
  
  .invitados h1 {
    font-size: 36px;
    color: #3eb4ed;
  }
  
  .invitados-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   
  }
  
  .invitados img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color:black;
  }
  

  footer {
    background-color: #0f87cd;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }
  
  .social-icons a {
    color: #eeff00;
    margin: 0 10px;
    text-decoration: none;
  }
  .social-icons img {
    width: 20px; 
    height: 20px; 
    margin-right: 8px;
    vertical-align: middle;
  }